.container {

    outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;

}

/* ======================================= */

.header {

    padding-top: 40px;

    position: absolute;
    width: 100%;

}

.header-lister {

    display: flex;
    align-items: center;

}

.header-list {

    display: flex;
    gap: 30px;

}

.header-text {

    color: #FFF;

    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.2px;

}

.header-text:hover {

    color: #FF6C00;

}

.header-list2 {

    display: flex;
    gap: 60px;
    margin-left: auto;

}

.header-item2:last-child {

    .header-text2 {

        border-radius: 25px;
        border: 1px solid #FF6C00;
        padding: 12px 20px;

    }

}

.header-text2 {

    color: #FFF;

    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;

}

.header-text2:hover {

    color: #FF6C00;

}

/* ================================== */

.hero {

    background-image: url(./img/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-bottom: 40px;
    padding-top: 272px;

}

.hero-container {

    display: flex;
    justify-content: space-between;

}

.hero-description {

    color: rgba(157, 164, 189, 0.60);

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 20px;

    display: flex;
    align-items: center;

}

.hero-description::before {

    content: "";
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.60);
    display: inline-block;
    margin-right: 20px;

}

.hero-title {

    color: #FFF;

    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;

    margin-bottom: 20px;

}

.hero-text {

    color: #9DA4BD;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    letter-spacing: 0.36px;

    margin-bottom: 144px;

    width: 358px;

}

.hero-group {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

.hero-list {

    display: flex;
    gap: 24px;

}

.hero-item::after {

    content: "";
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.60);
    display: block;
    margin-top: 8px;

}

.hero-link {

    color: #FFF;

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;

}

/* ================================== */

.about {

    padding-top: 120px;
    margin-bottom: 120px;

}

.about-container {

    display: flex;
    gap: 30px;

}

.about-list {

    display: flex;
    gap: 30px;

}

.about-header {

    color: #303030;

    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

    width: 470px;

    margin-bottom: 20px;

}

.about-text {

    color: #555;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.36px;

    margin-bottom: 20px;

}

.about-text1 {

    color: #555;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    letter-spacing: 0.36px;

    width: 470px;
    height: 60px;
    flex-shrink: 0;

    margin-bottom: 20px;

}

.about-description {

    color: #555;

    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 186%;
    letter-spacing: 0.28px;

    width: 470px;

    margin-bottom: 42px;

}

.about-booking {

    color: #303030;

    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;

    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid #FF6C00;

}

/* ==================================== */

.prices {

    padding-bottom: 120px;
    padding-top: 120px;

    background: url(./img/prices-background.jpg) lightgray 50% / cover no-repeat;

    text-align: center;
}

.prices-caption {

    color: rgba(157, 164, 189, 0.60);

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 20px;

    text-align: start;

    display: flex;
    align-items: center;

}

.prices-caption::before {

    content: "";
    width: 60px;
    height: 1px;

    background: rgba(157, 164, 189, 0.60);

    display: inline-block;
    margin-right: 20px;
}

.prices-title {

    color: #FFF;

    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

    margin-bottom: 44px;

    text-align: start;

}

.prices-list {

    display: flex;
    gap: 30px;

    margin-bottom: 44px;

}

.prices-item {

    flex-basis: calc((100% - 30px) / 2);

}

.prices-items {

    padding: 30px 20px;

    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%)
}

.prices-item:last-child {

    .prices-items {

        background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);

    }

}

.prices-elements {

    color: #9DA4BD;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    /* 166.667% */
    letter-spacing: 0.36px;

    margin-bottom: 20px;

}

.prices-element {

    color: #9DA4BD;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    /* 166.667% */
    letter-spacing: 0.36px;

    margin-bottom: 20px;

}

.prices-booking {

    color: #FFF;

    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    text-align: center;

    border-radius: 25px;
    border: 1px solid #FF6C00;

    padding: 12px 20px;

}

/* ====================================== */

.reviews {

    padding-top: 120px;
    padding-bottom: 120px;

}

.reviews-container {

    display: flex;
    justify-content: space-around;
    gap: 130px;

}

.reviews-list {

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

.reviews-items {

    width: 170px;
    height: 133px;
    background-color: #F7F7F7;

    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;

}

.reviews-number {

    width: 80px;

    color: #303030;

    text-align: center;
    font-family: "Open Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

}

.reviews-description {

    width: 122px;

    color: #303030;

    text-align: center;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.reviews-info {

    transform: translateX(-100px);

}

.reviews-caption {

    color: #303030;

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 20px;

    display: flex;
    align-items: center;

}

.reviews-caption::before {

    content: "";
    width: 60px;
    height: 1px;
    background: #303030;
    display: inline-block;

    margin-right: 20px;

}

.reviews-header {

    width: 430px;

    color: #303030;

    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

    margin-bottom: 20px;

}

.reviews-text {

    color: #555;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    letter-spacing: 0.36px;

    width: 500px;

}

/* ==================================== */

.barbers {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F7F7F7;

}

.barbers-caption {

    color: #303030;

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;

    margin-bottom: 20px;

}

.barbers-header {

    color: #303030;

    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 2.1px;

    margin-bottom: 44px;

}

.barbers-list {

    display: flex;
    gap: 30px;

}

.barbers-name {

    color: #303030;

    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;

    margin-bottom: 8px;

}

.barbers-skill {

    color: #FF6C00;

    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;

    margin-bottom: 30px;

}

.barbers-links {

    display: flex;
    gap: 10px;
    justify-content: center;

}

.barbers-link {

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    width: 44px;
    height: 44px;
    background-color: #FFF;

}

.barbers-link:hover {

    color: #FF6C00;

}

.barbers-icons {

    width: 20px;
    height: 20px;

}

/* ==================================== */

.images {

    padding-top: 120px;
    padding-bottom: 120px;

}

.images-text {

    color: #303030;

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 44px;

}

.image-list {

    display: flex;
    gap: 30px;

}

/* ================================== */

.booking {

    background: #191C26;
    padding-top: 130px;
    padding-bottom: 120px;

    /* background: url(./img/contacts-bg.webp) lightgray -170.29px 0px / 123.004% 100% no-repeat */

    /* background-image: url(./img/contacts-bg.webp); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/contacts-bg.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;

}

.booking-container {

    display: flex;
    gap: 100px;

}

.booking-title {

    color: #FFF;

    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

    margin-bottom: 44px;

}

.booking-input {

    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;

    width: 270px;
    /* width: 100%; */
    border-color: rgba(157, 164, 189, 0.40);

    display: block;

    color: rgba(157, 164, 189, 0.40);

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.label-container {
    display: flex;
    gap: 30px;

    margin-bottom: 44px;
}

.booking-booking {

    color: #FFF;

    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;

    padding: 12px 38px;

    border-radius: 25px;
    border: 1px solid #FF6C00;
    background-color: transparent;

    margin-top: 44px;
    width: 160px;

}

/* ========================================= */

.contact-title {

    color: #FFF;

    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

}

.contact-location {

    color: #9DA4BD;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
    width: 230px;
    margin-bottom: 20px;

    display: block;

}

.contact-number {

    color: #9DA4BD;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;

    display: block;

    margin-bottom: 20px;

}

.contact-email {

    color: #9DA4BD;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    margin-bottom: 70px;

    display: block;

}

.contact-text {

    color: #FFF;

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

}

.contact-text::before {

    content: "";
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.60);
    display: inline-block;
    margin-right: 20px;

}

.contact-time {

    color: #9DA4BD;

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.36px;

}