.header {
    padding-top: 40px;
    padding-left: 400px;
    position: absolute;
    width: 100%;
}
.header-lister {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    gap: 30px;
}
.header-item {
    position: relative;
}
.header-text {
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.2px;
    transition: all 250ms ease-out;
}
.header-text:hover {
    color: #FF6C00;
}
.header-text:hover::after {
    opacity: 1;
}
.header-text:after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 10px;
    display: block;
    background-color: #FF6C00;
    position: absolute;
    left: 0px;
    bottom: -20px;
    opacity: 0;
    transition: all 250ms cubic-bezier(.86, -0.49, 1, .6);
}
.header-list2 {
    display: flex;
    gap: 60px;
    margin-left: 240px;
    align-items: center;
}
.header-item2:last-child {
    animation-name: abc;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    .header-text2 {
        border-radius: 25px;
        border: 1px solid #FF6C00;
        padding: 12px 20px;
    }
}
@keyframes abc {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
    }
}
.header-text2 {
    color: #FFF;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 250ms ease-out;
}
.header-text2:hover {
    color: #FF6C00;
    transform: scale(1.1) skew(-10deg);
}