.images {

    padding-top: 120px;
    padding-bottom: 120px;

}

.images-text {

    color: #303030;

    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 44px;

}

.image-list {

    display: flex;
    gap: 30px;

}

.image-item {
    position: relative;
    overflow: hidden;
    transition: all 250ms ease-in;
}

.image-item:hover {
    .image-description {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.image-description {
    transition: all 250ms ease-out;
    color: #FFF;
    font-size: 21px;
    font-weight: 600px;
    font-style: italic;
    line-height: normal;
    background-color: #ff6a007e;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 20px;
    opacity: 1;
    transform: translate(0, -100%);
}